{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.7d74cad2-3fe0-44d8-b7db-f40663af6045",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}