{
  "pid": "com.tibco.bw.stat.appnode.36277661-5ed4-4c6a-b802-30898d3874ad",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.36277661-5ed4-4c6a-b802-30898d3874ad",
      "type": "java.lang.String"
    }
  }
}